.fondo-celeste {
    -fx-background-color: linear-gradient(to bottom, #cce7ff, #b5dbff);
    -fx-padding: 40;
}

.card-login {
    -fx-background-color: #ffffff;
    -fx-padding: 35 40;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 20, 0.25, 0, 3);
}

.titulo {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #1f2d3d;
}

.subtitulo {
    -fx-font-size: 14px;
    -fx-text-fill: #4f5b66;
}

.campo {
    -fx-pref-width: 260;
    -fx-padding: 12;
    -fx-font-size: 14px;

    -fx-background-color: #f3f6fa;
    -fx-background-radius: 10;

    -fx-border-color: #d0d5dd;
    -fx-border-radius: 10;
}

.campo:focused {
    -fx-background-color: #ffffff;
    -fx-border-color: #4d90fe;
}

.btn-login {
    -fx-cursor: hand;
    -fx-background-color: #4d90fe;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-padding: 12;
    -fx-background-radius: 12;
}

.btn-login:hover {
    -fx-background-color: #6aa6ff;
}

.btn-register {
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-text-fill: #4d90fe;
    -fx-border-color: #4d90fe;
    -fx-border-width: 1.5;
    -fx-border-radius: 12;
    -fx-padding: 10;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.btn-register:hover {
    -fx-background-color: rgba(0,0,0,0.06);
}
